@import url('https://fonts.googleapis.com/css2?family=Macondo+Swash+Caps&family=MedievalSharp&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Noto+Sans+Egyptian+Hieroglyphs&display=swap');

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
html {
    font-size: 62.5%;
}
body {
    text-align: center;
    background: #920511; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #920511 0%, #be6703 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#920511), color-stop(100%,#be6703)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #920511 0%,#be6703 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #920511 0%,#be6703 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #920511 0%,#be6703 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #920511 0%,#be6703 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#920511', endColorstr='#be6703',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: rgb(250, 241, 190);
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
h1 {
    font-family: 'Macondo Swash Caps', cursive;
}
h3{
    font-family: 'MedievalSharp', cursive;
}
a {
    text-decoration: none;
    color: rgb(223, 180, 102);
}
ul {
    list-style: none;
}
@media screen and (max-width: 699px){
    h1{
        font-size: 4.6rem;
    }
    h3{
        font-size: 2.2rem;
        margin-bottom: 3rem;
    }
    p{
        font-size: 1.5rem;
    }
}
@media screen and (min-width: 700px){
    h1{
        font-size: 6.5rem;
    }
    h3{
        font-size: 4rem;
        margin-bottom: 5rem;
    }
    p{
        font-size: 2rem;
    }
    a:hover{
        color: rgb(255, 221, 0);
    }
}

header nav{
    font-family: 'Overlock', sans-serif;
}
@media screen and (max-width: 699px) {
    header{
        padding-top: 2.5rem;
    }
    header nav{
        display: none;
    }
    .burgerToggle {
        background: none;
        border: none;
        padding: 3rem;
        cursor: pointer;
    }
    .barTop, .barMid {
        background-color: rgb(223, 180, 102);
        height: 0.8rem;
        width: 5rem;
        margin: 0.5rem auto;
        border-radius: 5rem;
    }
    .barBot{
        background-color: rgb(223, 180, 102);
        height: 0.8rem;
        width: 3rem;
        margin-left: 40%;
        border-radius: 5rem;
    }
    .burgerMenu.open {
        width: fit-content;
        background-color: rgb(250, 241, 190);
    }
    .burgerMenu.open .burgerToggle{
        position: relative;
        left: 7rem;
    }
    .burgerMenu.open .barTop{
        height: 0.9rem;
        background-color: #920511;
        transform: rotate(-45deg);
        transition-duration: 0.4s;
        translate: 0 0.65rem;
    }
    .burgerMenu.open .barMid{
        height: 0.9rem;
        background-color: #920511;
        transform: rotate(45deg);
        transition-duration: 0.4s;
        translate: 0 -0.65rem;
    }
    .burgerMenu.open .barBot{
        display: none;
    }
    header .burgerMenu.open nav{
        display: block;
        text-align: center;
    }
    header .burgerMenu.open nav li{
        padding: 1rem;
        border: 0.2rem solid #920511;
    }
    .burgerMenu{
        z-index: 15;
        width: fit-content;
        position: absolute;
        top: 0;
        right: 0;
    }
}
@media screen and (min-width: 700px) {
    .burgerToggle{
        display: none;
    }
    header{
        padding-top: 5rem;
        padding-bottom: 2rem;
    }
    header nav{
        padding-top: 3.5rem;
        font-size: 1.8rem;
        width: 60%;
        margin: auto;
    }
    header nav ul{
        display: flex;
        justify-content: space-around;
    }
    header li a:hover{
        font-weight: 700;
    }
}

main{
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'Overlock', sans-serif;
}
.home{
    width: 60%;
    margin: auto;
}
.gameContainer{
    margin: auto;
    width: 70%;
    display: flex;
    justify-content: space-around;
}
.tile{
    height: 16rem;
    width: 20rem;
    background-color: rgb(223, 180, 102);
    color: black;
    border-radius: 1rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, .3);
    margin: 1rem;
}
.glyph{
    font-family: 'Noto Sans Egyptian Hieroglyphs';
    font-size: 4rem;
}
.infoTile{
    font-size: 2.8rem;
    flex-flow: column;
}
.sound, .trad{
    font-size: 1.8rem;
    margin-top: 0.5rem;
}
.sound{
    color: #920511;
    font-style: italic;
    margin-bottom: 0.2rem;
}
.checkButton{
    font-family: inherit;
    font-size: 2.4rem;
    color: #920511;
    background-color: rgb(250, 241, 190);
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
}
.tile.selected{
    background-color: rgb(205, 223, 102);
}
.tile.paired{
    background-color: rgb(194, 169, 125);
    border: 5px solid rgba(0, 0, 0, .3);
}

footer {
    padding-bottom: 2.5rem;
    font-size: 1.4rem;
    padding-top: 3rem;
    color: rgb(223, 180, 102);
}
footer img{
    filter: brightness(0);
}
.pyramids{
    position: fixed;
    left: 1.7rem;
    bottom: -1.8rem;
}
.pyramids img {
    height: 9rem;
}
.camel {
    position: fixed;
    left: 23.5rem;
    bottom: -0.6rem;
}
.camel img {
    height: 1rem;
}
.camel img:hover{
    filter: invert(97%) sepia(37%) saturate(5687%) hue-rotate(353deg) brightness(109%) contrast(106%);
}
.infos{
    padding-right: 2.5rem;
    text-align: end;
}